/*-------------------١--------------------------*/
/*                  ملحوظات                     */
/*
ملحوظة عامة:عسلامة حبيت نعاونكم وقسمت ليكم كل حاجة باش تأخذ فكرة ويكون منظم
إذا كان لديك أي سؤال من فضلك إرسل لي الكود وشرح المشكلة علي البريد الالكتروني
samar.ayadi@pingucoder.com
ayadisamardev@gmail.com
*/
/*----------------------------------------------*/



/*----------------------1-----------------------*/
/*
Fonts & Font-faces 
ملحوظة: إسم الخط هو إما
Avenir Next 
أو إن لم تجده فيمكنك استعمال خط 
Lato
*/
/*---------------------------------------------*/
@font-face {
  font-family: Avenir-Next;
  src: url(../fonts/AvenirNext-Regular.woff) format('woff');

}

/*----------------------2-----------------------*/
/*                  DEFAULTS                    */

/*----------------------------------------------*/
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body { 
  /* color: black; */
  font-family: 'Avenir Next';
  /* width: 1440px; 
  height: 3609px; */
  background: #FFFFFF;
}
main {
display: block;
}
.container{
display: flex;
justify-content: center;
}
/*----------------------3-----------------------*/
/*               HELPER CLASSES                 */

/*----------------------------------------------*/


/*----------------------4-----------------------*/
/*                    LAYOUT                    */

/*----------------------------------------------*/



/*----------------------5-----------------------*/
/*                    HEADER                    */
/*----------------------------------------------*/
header.container{
  display: inline-block;
  height: 80px;
  width: 100%;
  background-color: white;
}
button.burger.is-visible-mobile, nav.main-nav ul, div a.logo
  {
    display: inline;
    margin: 20px;
    padding: 20px;
  }
  nav.main-nav {
    float: right;
  }
  .main-nav ul li{
    display: inline-block;
    padding: 40px;
  }
  button.burger.is-visible-mobile
  {
    color: black;
    float: right;
    cursor: pointer;
  }
  .main-nav ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  .main-nav a:hover{
    background:#ECCFD6;
    transition: .5s;
  }
/*----------------------6-----------------------*/
/*                     HERO                     */
/*----------------------------------------------*/
.hero{
  display: flex;
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.hero__desc{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.hero__desc h1 {
width: 400px;
height: 132px;
left: calc(50% - 400px/2 - 440px);
top: 229px;
font-size: 48px;
line-height: 66px;
display: flex;
align-items: center;
text-transform: capitalize;
}
.hero__desc p{
width: 368px;
height: 89px;
left: calc(50% - 368px/2 - 456px);
top: 382px;
font-size: 18px;
line-height: 30px;
}
.hero__desc a {
display: block;
text-align: center;
background: #3040C4;
border-radius: 41px;
border: 1px solid #eeeeee;
color:#eeeeee;
text-decoration: none;
padding: 10px;
margin-top: 20px;
cursor: pointer;
padding-left: 67px;
padding-right: 68px;
}
.hero__image
{
  flex-grow: 1;
  width: 722px;
  height: 442px;
  left: 1360px;
  top: 161px;
}

/*----------------------7-----------------------*/
/*              MEET YOUR MATCH                 */
/*----------------------------------------------*/
.meetYourMatch__background{
width: 1280px;
height: 512px;
left: 80px;
top: 701px;
background: #EEF0FC;
border-radius: 18px;}
.meetYourMatchــcontent{
position: absolute;
align-items: center;
text-align: center;
text-transform: capitalize;
z-index: 1;
color: #2B292D;

}
.meetYourMatchــcontent h2{
width: 283px;
height: 50px;
padding: 77px 498px;
display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;
}
.switcher {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.switcher span{
  width: 21px;
  height: 20px;
  left: calc(50% - 21px/2 - 0.5px);
  top: 879px;
  font-size: 14px;
  line-height: 19px;
}
.dog .cat{
  box-sizing: border-box;

position: absolute;
left: 43.68%;
right: 51.88%;
top: 23.72%;
bottom: 74.51%;

background: #FFFFFF;
border-radius: 41px;
}
form .meetYourMatchــform{

width: 525px;
height: 64px;
left: 457px;
top: 948px;
z-index: 2;

}
.widgets {
display: flex;
flex-wrap: grid;
justify-content: center;
left: 48.06%;
right: 35.97%;
top: 29.68%;
bottom: 64.12%;
background: #ECCFD6;
transform: matrix(-1, 0, 0, 1, 0, 0);
}
.widgets .is-searchResults{
  display: flex;
  justify-content:space-between; 
}

/*----------------------8-----------------------*/
/*               HOW IT WORKS                   */
/*----------------------------------------------*/



/*----------------------9-----------------------*/
/*                 STORIES                      */
/*----------------------------------------------*/



/*----------------------10----------------------*/
/*       Actions: Change A Life, Adopt A Pet    */
/*----------------------------------------------*/
section.actions {
    display: block;
    top: 5350px;
    background-color: #3040C4;
    Width: 480px;
    height: 250px;
    margin-bottom: 58px;
    
}
section.actions h2{
  color: #FFFFFF;
  font-size: 24px;
  line-height: 33px;
  text-transform: capitalize;
  align-items: center;
  padding-top: 59px;
  margin-bottom: 50px;
  text-align: center;
}
.button.is-outline{
  display: block;
  text-align: center;
  background: #3040C4;
  border-radius: 41px;
  border: 1px solid #eeeeee;
  color:#eeeeee;
  text-decoration: none;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  padding-left: 67px;
  padding-right: 68px;
}
.button.is-secondary{
  display: block;
  background-color: #FFFFFF;
  border-radius: 41px;
  font-family: 'Avenir-Next';
  font-size: 16px;
  line-height: 25px;
  color: #3040C4;
  text-decoration: none;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  padding-left: 67px;
  padding-right: 68px;
}



/*---------------------11-----------------------*/
/*                    FOOTER                    */
/*----------------------------------------------*/
footer {
    display: block;
    top: 5700px;
    margin-left: 26px;
}

footer .container{
    display: flex;
}

.container .copyrights{
    position: absolute;
    color: #000000; 
    line-height: 30px;
}

footer .footer-nav{
    display: flex;
    flex-wrap: wrap;
    margin-top: 150px;
}

footer .footer-nav .item{
    padding-right: 75px;
    margin-bottom: 50px;
    justify-content: space-between;
}

footer .container h5{
    font-family: 'Avenir Next';
    font-size: 14px;
    line-height: 19px;
    text-transform: capitalize;
    color: #000000;
    font-weight: bold;
    margin-bottom: 12px;
}

footer .footer-nav li{
    list-style-type: none;
}

footer a{
    text-decoration: none;
    color: #000000;
    font-family: 'Avenir Next';
    text-transform: capitalize;
    line-height: 30px;
}


/*----------------------12----------------------*/
/*                    Responsive                */
/*----------------------------------------------*/


/* Custom, iPhone Retina 
@media only screen and (min-width : 320px) {
}*/ 

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  button.burger.is-visible-mobile{
    display: auto;
   }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  button.burger.is-visible-mobile{
    display:none;
   }
   nav.main-nav{
    float: none;
   }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  button.burger.is-visible-mobile{
    display:none;
   }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  button.burger.is-visible-mobile{
    display:none;
   }
}